
<html lang="eng">

<div class="foo">
<a class="footer" href="links">English (UK) 
    हिन्दी
     ଓଡ଼ିଆ
    বাংলা
    اردو
    ਪੰਜਾਬੀ
    ગુજરાતી
    मराठी
    தமிழ்
    తెలుగు
    മലയാളം
    </a>

    <hr class="hrr">

    <a class="footer" href="links">SignUp   Login   Messenger   Facebook Lite   Video   Places   Games   Marketplace   MetaPay   Meta Store   Meta Quest   MetaAI   Instagram   Threads
        </a>

        <a class="footer" href="links">Fundraisers   Services   Voting Information Centre   Privacy Policy   Privacy Centre   Groups   About    Create ad   Create Page   Developers   Careers   Cookies
        </a>

        <a class="footer" href="links">AdChoices   Terms   Help   Contact uploading and non-users <br><br>
       
        </a>

        <a class="footer" href="links">
            Meta © 2024
           </a>
</div>

</html>