
<html lang="en">
<div class="login">
    <div class="box">
        <input class="email" type="text, number" placeholder="Email address or phone number">
        <input class="Password" type="text, number" placeholder="Password">
        <button class="btn"><b>Log in</b></button>
        <a class="link" href="Forgetton password?">Forgetton password?</a>
        <hr class="hr">
        <button class="create"> Create new account</button>

    </div>

    <div id="create">
    <a class="link2" href="Create a Page"><b>Create a Page</b></a> <p class="p2">for a celebrity, brand or business. </p>
</div>
</div>
</html>